.text-header {
    @include theme() {
        color: theme-get('contrast-color');
    }
}

.text-body {
    @include theme() {
        color: theme-get('text-color');
    }
    &--bold {
        
    }
}

.text-elegant {
    @include theme() {
        color: theme-get('contrast-color');
    }
}